
body {
    background: #F2F2F2;
    margin: 0;
}

.navbar{
    list-style: none;
    background: white;
    padding: 1em;

}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    list-style-type: none;
    float: left;

}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}