.top-div{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 50px;
    align-items: center;
    background-color: lightgrey;
}

.top-div-left{
    width: 80px;

}

.top-div-right{
    width: 1100px;
}

.mid-div{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 50px;
    background-color: darkcyan;
    align-items: center;

}

.mid-div-left{
    width: 80px;
    margin-top: 40px;
    margin-bottom: 50px;

}

.mid-div-right{
    width: 1100px;
    margin-top: 40px;
    margin-bottom: 50px;


}

.bottom-div{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 50px;
    background-color: lightgrey;
}

.bottom-div-left{
    width: 80px;

}

.bottom-div-right{
    width: 1100px;

}

.q{
    font-family: Cambria;
    font-weight: bold;
}

.answer{
    font-weight: normal;
    font-family: Cambria;

}

.bottom{
    font-family: Cambria;
}

.faq-header{
    font-family: Cambria;
}

.faq-text{
    font-family: Cambria;
}


body{
    background-color: lightgrey;
}


.faq-text {
    font-size: 17px;
}

.q{
    font-size: 17px;
}

.answer{
    font-size: 17px;
}

.bottom{
    font-size: 17px;
}


.navbar{
    background: whitesmoke;
    padding: 1em;
}

.container{
    display: flex;
}

.nav-a {
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    display: block;
    padding: 8px;
}

.banana-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.logo{
    display: block;
    text-decoration: none;
    color: black;
    text-align: left;
    font-size: 2em;
}

.logo-span{
    color: darkcyan;
}

.primary-nav{
    margin: 1.6em;
    position: static;
    top: 0;
}

.nav-li {
    list-style-type: none;
    float: left;
}

.about-header{
    font-family: Cambria;
    text-align: center;
}

.about-text{
    font-family: Cambria;
    font-size: 17px;
;

}
