body{
    background-color: lightgrey;
    font-family: Cambria;

}


.top-div{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 50px;
    align-items: center;
    background-color: lightgrey;
}

.top-div-left{
    width: 80px;

}

.top-div-right{
    width: 1100px;
}

.mid-div{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 50px;
    background-color: darkcyan;
    align-items: center;

}

.mid-div-left{
    width: 80px;
    margin-top: 40px;
    margin-bottom: 50px;

}

.mid-div-right{
    width: 1100px;
    margin-top: 40px;
    margin-bottom: 50px;


}

.bottom-div{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 50px;
    background-color: lightgrey;
    align-items: center;
}

.bottom-div-left{
    width: 80px;

}

.bottom-div-right{
    width: 1100px;

}

.q{
    font-family: Cambria;
    font-weight: bold;
}

.answer{
    font-weight: normal;
    font-family: Cambria;

}

.bottom{
    font-family: Cambria;
}

.faq-header{
    font-family: Cambria;
}

.faq-text{
    font-size: 17px;
    font-family: Cambria;
}

.q{
    font-size: 17px;
}

.answer{
    font-size: 17px;
}

.bottom{
    font-size: 17px;
}


.navbar{
    background: whitesmoke;
    padding: 1em;
}

.container{
    display: flex;
}

.nav-a {
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    display: block;
    padding: 8px;
}

.banana-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.logo{
    display: block;
    text-decoration: none;
    color: black;
    text-align: left;
    font-size: 2em;
}

.logo-span{
    color: darkcyan;
}

.primary-nav{
    margin: 1.6em;
    position: static;
    top: 0;
}

.nav-li {
    list-style-type: none;
    float: left;
}


.about-text{
    font-family: Cambria;
    font-size: 17px;

}

.header{
    font-family: Cambria;
    text-align: center;

}

.form{
    min-width: 800px;
}

.front-info-text{
    min-width: 800px;
    padding: 200px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: lightgray;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: whitesmoke;
}
