body {
    background: lightgray
    margin: 0;
    font-family: "Cambria";
}

.navbar{
    background: whitesmoke;
    padding: 1em;
}

.container{
    display: flex;
}

.nav-a {
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    display: block;
    padding: 8px;
}

p {
    font-size: 1.2em;
}

.logo{
    display: block;
    text-decoration: none;
    color: black;
    text-align: left;
    font-size: 2em;
}

.logo-span{
    color: darkcyan;
}

.primary-nav{
    margin: 1.6em;
    position: static;
    top: 0;
}

.nav-li {
    list-style-type: none;
    float: left;
}

.header-div{
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100px;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;

}

.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
}

.form-div{
    display: flex;
    justify-content: left;
    align-items: center;
    background: darkcyan;
    min-height: 400px;
    padding: 10px;
}

.form{
    min-width: 800px;
}

.front-info-text{
    min-width: 800px;
    padding: 200px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: lightgray;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: whitesmoke;
}

.bottom-div{
    display: flex;
    background-color: lightgrey;
    justify-content: space-around;
    align-items: stretch;
}

.bottom-div-margin{
    margin-top: 30px;

}

.bottom-div-body{
    width: 1100px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.form-conf {
    display: block;
    align-items: center;
    justify-content: left;
    list-style-type: none;
    width: 200px;
    margin: 0.2em;
    padding: 0.2em;
    font-size: 1.6em;
}

.question{
    font-weight: bold;
}

.answer{
    font-weight: normal;
}

.faq-div{
    background-color: blueviolet;

}

.faq-mid{ background-color: blue;

}

.faq-left{
    background-color: whitesmoke;

}


.banana-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}