body {
    background: white;
    margin: 0;
}
.navbar{
    list-style: none;
    background: white;
    padding: 1em;
}
.container{
    text-decoration: none;
    background: white;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    list-style-type: none;
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}

p{
    text-align: center;
    background-color: cornflowerblue;
    color: cornsilk;
    margin: 10px;
}

.header{
    text-align: center;
    color: darkcyan;
}