
body {
    background: white;
    margin: 0;
    font-family: "Cambria";
}

.navbar{
    list-style: none;
    background: white;
    padding: 1em;
}

.logo{
    display: block;
    text-align: left;
    font-size: 2em;
}


.navbar{
    background: whitesmoke;
    padding: 1em;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    list-style-type: none;
    float: left;

}

.container{
    #text-decoration: none;
    display: flex;
    background: whitesmoke;
}

.banana-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

span{
    color: darkcyan;
}

.primary-nav{
    margin: 1.6em;
}


a {
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    display: block;
    padding: 8px;
}

.top-div{
    display: flex;
    background-color: lightgrey;
    height: 200px;
    align-items: center;
    justify-content: space-around;
}
.top-div-body{
    width: 1100px;
}
.top-div-margin{

}

.middle-div{
    display: flex;
    background-color: whitesmoke;
    justify-content: space-around;
    align-items: stretch;

}

.middle-div-margin{
    margin-top: 30px;

}

.middle-div-body{
    width: 1100px;
    margin-top: 30px;
    margin-bottom: 40px;
}


.bottom-div{
    display: flex;
    background-color: lightgrey;
    justify-content: space-around;
    align-items: stretch;
}

.bottom-div-margin{
    margin-top: 30px;

}

.bottom-div-body{
    width: 1000px;
    margin-top: 30px;
    margin-bottom: 40px;
}

p{
    font-family: Cambria;
}

.question{
    font-weight: bold;
}

h1{
    font-family: Cambria;

}

h2{
    font-family: Cambria;

}

.bottom-text{
    font-style: italic;
}