<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Garbage Food</title>
    <link rel="stylesheet" th:href="@{/css/lars.css}" />
</head>
<body>

<div class="navbar">
    <div class="container">
        <a th:href="@{/}" class="logo">Food<span class="logo-span">Garbage</span></a>
        <nav>
            <ul class="primary-nav">
                <li class="nav-li"><a class="nav-a" th:href="@{info}">Info</a></li>
                <li class="nav-li"><a class="nav-a" th:href="@{find-food}">Pick Up Food</a></li>
                <li class="nav-li"><a class="nav-a" th:href="@{sign-up}">Sign Up</a></li>
                <li class="nav-li"><a class="nav-a" th:href="@{faq}">FAQ</a></li>
                <li class="nav-li"><a class="nav-a" th:href="@{contact}">Contact</a></li>
                <li class="nav-li"><a class="nav-a" th:href="@{about}">About us</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="top-div">
    <div class="top-div-left">
        <h1 class="header">About us</h1>
    </div>
    <div class="top-div-right">
        <p class="about-text">Here you can find information about the creators of the Garbage Food Project and the purpose of the project</p>
    </div>
</div>


<div class ="mid-div">
    <div class="mid-div-left">
        <p class="about-text">Food Garbage and its creators</p>
    </div>

    <div class="mid-div-right">

        <p class="about-text">The Food Waste Project is created by a group of Computer Science
            students from Copenhagen School of Design and Technology </p>

        <hr>

           <p class="about-text">The purpose of the project is to create and host a website that provides information about food waste in Denmark
                and to reduce <br> food waste for convenience stores by offering private persons to pick up expired food for free.</p>
    </div>
</div>


<div class="bottom-div">
    <div class="bottom-div-left"><p class="about-text">Write us</p></div>
    <div class="bottom-div-right">
        <p class="about-text">If you have any questions please contact us at kea@kea.dk</p>
    </div>
</div>
</body>
</html>