<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>About The Food Waste Project</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}" />
</head>
<body>

<div class="navbar">
    <div class="container">
        <a th:href="@{index}" class="logo">Food<span>Garbage</span></a>
        <nav>
            <ul class="primary-nav">
                <li><a th:href="@{info}">Info</a></li>
                <li><a th:href="@{find-food}">Find Food</a></li>
                <li><a th:href="@{sign-up}">Sign Up</a></li>
                <li><a th:href="@{faq}">FAQ</a></li>
                <li><a th:href="@{contact}">Contact</a></li>
                <li><a th:href="@{about}">About us</a></li>
            </ul>
        </nav>
    </div>
</div>




<div class="top-div">
    <div class="top-div-margin">
        <h2>About</h2>
        <h2>The Food Waste Project</h2>
    </div>
    <div class="top-div-body"><p>The Food Waste Project is created by a group of Computer Science
        students from Copenhagen School of Design and Technology.</p>
        <hr>
        <p>The purpose of the project is to create and host a website that provides information about food waste in Danmark
        and to reduce food waste for convenience stores by offering private persons to pick up expired food for free.</p>
    </div>
</div>

</body>
</html>