<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FAQ - Garbage Food</title>
    <link rel="stylesheet" th:href="@{/css/lars.css}" />
</head>
<body>

<div class="navbar">
    <div class="container">
        <a th:href="@{/}" class="logo">Food<span class="logo-span">Garbage</span></a>
        <nav>
            <ul class="primary-nav">
                <li class="nav-li"><a class="nav-a" th:href="@{info}">Info</a></li>
                <li class="nav-li"><a class="nav-a" th:href="@{find-food}">Pick Up Food</a></li>
                <li class="nav-li"><a class="nav-a" th:href="@{sign-up}">Sign Up</a></li>
                <li class="nav-li"><a class="nav-a" th:href="@{faq}">FAQ</a></li>
                <li class="nav-li"><a class="nav-a" th:href="@{contact}">Contact</a></li>
                <li class="nav-li"><a class="nav-a" th:href="@{about}">About us</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="top-div">

    <div class="top-div-left">
        <h1 class="header">FAQ</h1>
    </div>

    <div class="top-div-right">
        <p class="about-text">Here you can find answers to
            the most commonly asked questions about The Garbage Food Project</p>
    </div>

</div>

<div class ="mid-div">

    <div class="mid-div-left">
        <p class="about-text">Frequently Asked Questions</p>
    </div>

    <div class="mid-div-right">
        <p class="q">Where do I pick up expired food to pick up?</p>
        <p class="answer">Navigate to the find food section on the webpage and enter your zip code to find your local store</p>

        <hr>

        <p class="q">How do I sign up my company, to be a part of the The Food Waste Project?</p>
        <p class="answer">Simply navigate to the "Sign up" page and enter company information to subscribe </p>

        <hr>

        <p class="q">How much food is wasted in Denmark?</p>
        <p class="answer">Approximately 10 tons per minute</p>

        <hr>

        <p class="q">What day is it?</p>
        <p class="answer">Tuesday</p>

        <hr>

        <p class="q">How do I avoid wasting so much food?</p>
        <p class="answer">Buy less food at the time and eat it before it turns bad</p>
    </div>
</div>



<div class="bottom-div">
    <div class="bottom-div-left"><p class="about-text">Write us</p></div>
    <div class="bottom-div-right">
        <p class="about-text">If you have any questions please contact us at kea@kea.dk</p>
    </div>
</div>
</body>
</html>