<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
    <link rel="stylesheet" th:href="@{/css/lars.css}" />
</head>
<body>

<div class="navbar">
    <div class="container">
        <a th:href="@{/}" class="logo">Food<span class="logo-span">Garbage</span></a>
        <nav>
            <ul class="primary-nav">
                <li class="nav-li"><a class="nav-a" th:href="@{info}">Info</a></li>
                <li class="nav-li"><a class="nav-a" th:href="@{find-food}">Pick Up Food</a></li>
                <li class="nav-li"><a class="nav-a" th:href="@{sign-up}">Sign Up</a></li>
                <li class="nav-li"><a class="nav-a" th:href="@{faq}">FAQ</a></li>
                <li class="nav-li"><a class="nav-a" th:href="@{contact}">Contact</a></li>
                <li class="nav-li"><a class="nav-a" th:href="@{about}">About us</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="top-div">

    <div class="top-div-left">
        <h1 class="header">Information</h1>
    </div>

    <div class="top-div-right">
        <p class="header-mid-text"><img class="banana-logo" src="https://stcolumba-oak.com/pictures/2020/11/Sopt%20Food%20Waste%202.png" alt="picture"></p>
    </div>
</div>

<div class ="mid-div">

    <div class="mid-div-left">
        <p class="about-text">Food <br>Waste</p>
    </div>

    <div class="mid-div-right">
        <p class="about-text">Globally, there are approximately 1.3 billion tons of food waste annually.
            So what is happening to reduce food waste in Denmark? From apps to advocacy groups, there are a host of ways to get involved.</p>
        <hr>

        <p class="about-text"> The term “food waste” refers to food that is discarded, but which is still fit for human consumption.
            The way this food is lost varies: produce left in fields, bruised in transport, or deemed aesthetically unpleasing for selling.
            Some of this waste is unavoidable, but most of it is.</p>
        <hr>
        <p class="about-text">
            The environmental impact of food waste is staggering: 8-10% of all greenhouse gases are produced by the food we waste.
            According to Project Drawdown, the world’s leading resource for climate solutions, fighting food waste ranks third as
            one of the most impactful things we can do to curb climate change, and be can all contribute.</p>
    </div>
</div>

<div class ="bottom-div">
    <div class="bottom-div-left">
        <p class="about-text">Reducing <br> Food <br>Waste</p>
    </div>

    <div class="bottom-div-right">

            <p class="q">Adopt a healthier, more sustainable diet</p>
                <p class="answer">Life is fast-paced and preparing nutritious meals can be a challenge, but healthy meals don't have to be elaborate.
                    The internet is full of quick healthy recipes that you can share with your family and friends</p>
        <hr>


            <p class="q">Buy only what you need</p>
                <p class="answer">Plan your meals. Make a shopping list and stick to it, and avoid impulse buys.
                    Not only will you waste less food, you’ll also save money!</p>
        <hr>
            <p class="q">Pick ugly fruit and vegetables</p>
                <p class="answer">Don’t judge food by its appearance! Oddly-shaped or bruised fruits and vegetables are often thrown away because
                    they don’t meet arbitrary cosmetic standards. Don’t worry - they taste the same!
                    Use mature fruit for smoothies, juices and desserts.</p>


    </div>
</div>

<div class="mid-div">
    <div class="mid-div-left"><p class="about-text">Write us</p></div>
    <div class="mid-div-right">
        <p class="about-text">If you have any questions please contact us at kea@kea.dk</p>
    </div>
</div>
</body>
</html>