<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}"/>
</head>
<body>
<div class="navbar">
    <div class="container">
        <a href="#">Food Garbage</a>
        <nav>
            <ul class="primary-nav">
                <li><a th:href="@{info}">Info</a></li>
                <li><a th:href="@{find-food}">Find Food</a></li>
                <li><a th:href="@{sign-up}">Sign Up</a></li>
                <li><a th:href="@{faq}">FAQ</a></li>
                <li><a th:href="@{contact}">Contact</a></li>
            </ul>
        </nav>
    </div>

</div>

<h1 class="header">Food waste</h1>
    <div class="banner">
        <img src="images/Upcycling.jpg" alt="picture-of-food-waste">
    </div>

    <section class="body-text">
        <div class="container">
            <li>We are over 7 billion people on this planet, of which 925 million are starving. Yet we annually lose and waste 1,3 billion tons of food – or enough to feed 3 billion people.</li>
            <li>Roughly one third of the food produced in the world for human consumption every year – approximately 1,3 billion tonnes – gets lost or wasted.</li>
            <li>Food loss and waste accounts for about 4,4 gigatonnes of greenhouse gas emissions (GHG) per year. To put this in perspective, if food loss and waste were its own country, it would be the world’s third-largest GHG emitter – surpassed only by China and the United States.</li>
            <li>Food losses and waste amounts to roughly US$ 680 billion in industrialized countries and US$ 310 billion in developing countries.</li>
            <li>Industrialized and developing countries dissipate roughly the same quantities of food – respectively 670 and 630 million tonnes.</li>
            <li>Fruits and vegetables, plus roots and tubers have the highest wastage rates of any food.</li>
            <li>Around 88 million tonnes of food are wasted annually in the EU, with associated costs estimated at 143 billion Euros.</li>
            <li>Around 700,000 tonnes of food are wasted annually in Denmark in the entire value chain from farm to fork.</li>
            <li>The food currently wasted in Europe could feed 200 million people.</li>

        </div>

    </section>
</body>
</html>