<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Garbage</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<div class="navbar">
    <div class="container">
        <a th:href="@{/}" class="logo">Food<span class="logo-span">Garbage</span></a>
        <nav>
            <ul class="primary-nav">
                <li class="nav-li"><a class="nav-a" th:href="@{info}">Info</a></li>
                <li class="nav-li"><a class="nav-a" th:href="@{find-food}">Find Food</a></li>
                <li class="nav-li"><a class="nav-a" th:href="@{sign-up}">Sign Up</a></li>
                <li class="nav-li"><a class="nav-a" th:href="@{faq}">FAQ</a></li>
                <li class="nav-li"><a class="nav-a" th:href="@{contact}">Contact</a></li>
                <li class="nav-li"><a class="nav-a" th:href="@{about}">About us</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="top-div">

    <div class="top-div-left">
        <h1 class="header">Confirmed</h1>
    </div>

    <div class="top-div-right">
        <p class="about-text">You have just signed up to make the world a better place!</p>
    </div>

</div>

<div class ="mid-div">

    <div class="mid-div-left">
        <p class="about-text">We have received following information:</p>
    </div>

    <div class="mid-div-right">
        <ul class="liste-conf">
            <li>Name:       ###########</li>
            <li>Address:    ###########</li>
            <li>Zip Code:   ###########</li>
            <li>Email:      ###########</li>
        </ul>
    </div>
</div>



<div class="bottom-div">
    <div class="bottom-div-left"><p class="about-text">Write us</p></div>
    <div class="bottom-div-right">
        <p class="about-text">If you have any questions please contact us at kea@kea.dk</p>
    </div>
</div>


</body>
</html>